* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* font styles */
.poppins-normal {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

.container {
    max-width: 1440px;
    margin: auto;
}

.btn-primary {
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);
    padding: 14px 20px 14px 20px;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 16px;
}
.btn-primary:hover{
    background: rgba(4, 223, 121, 0.92);
}

.price-color {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
}

.btn-secondary {
    background: #000000;
}

.btn-secondary:hover{
    background: #5197e7ce;
}

/* nav items */
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1440px; */
    /* margin: auto; */
    margin-top: 49px;
}

.search-parent input {
    width: 508px;
    height: 48px;
    border-radius: 66px;
    border: none;
    background-color: #F1F1F1;
    padding: 15px 25px;
}

.search-parent input:hover {
    background-color: aqua;
}

.search-parent {
    position: relative;
}

.search-parent i {
    position: absolute;
    top: 15px;
    right: 15px;

}

.nav-items ul {
    display: flex;
    gap: 24px;
}

.nav-items ul li {
    list-style: none;
}

.nav-items ul li a {
    text-decoration: none;
    color: #707070;
    font-size: 16px;
}

/* banner styles */
.banner {
    background-color: #FEEAE9;
    margin: 63px;
    border-radius: 10px;

}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 147px;
}

.banner-container img {
    border-radius: 10px;
    width: 402px;
    height: 378px;
}

.banner-content {
    padding: 48px;
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
}

span {
    font-size: 41px;
    font-weight: 500;
    color: #FF136F;
}

/* categories styles */

.categories {
    padding: 0px 100px;

}

.categories-title {
    font-size: 36px;
    font-weight: 600;
    color: #1F1F1F;
    margin: 24px;
}

.categories-container {
    display: flex;
    gap: 26px;
}

.categories-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}

.categories-content-bg-1 {
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%, rgb(255, 208, 25) 84.486%);
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 33px;
    border: none;
    border-radius: 10px;

}

.categories-content-bg-2 {
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 33px;
    border: none;
    border-radius: 10px;

}

.categories-content-bg-3 {
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%, rgb(63, 7, 248) 74.29%);
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 33px;
    border: none;
    border-radius: 10px;

}

/* shoes & backpack styles */

.shoes-backpack {
    background-color: #F4F4F4;
    padding: 46px 156px;

}

.shoes-container {
    display: flex;
    gap: 22px;

}

.shoes-content {
    text-align: center;
    padding: 24px;
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: -2px 7px 18px -3px rgba(0, 0, 0, 0.75);
}

.shoes-content-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.shoes-content img {
    width: 290px;
    height: 210px;
    margin-bottom: 22px;
}

.shoes-content-description {
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
    margin-bottom: 16px;
}

.shoes-title {
    font-size: 36px;
    font-weight: 600;
    margin: 24px;
}

.backpack-container {
    display: flex;
    gap: 22px;

}

.backpack-content {
    text-align: center;
    padding: 24px;
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: -2px 7px 18px -3px rgba(0, 0, 0, 0.75);
}

.backpack-content-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.backpack-content img {
    width: 290px;
    height: 210px;
    margin-bottom: 22px;
}

.backpack-content-description {
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
    margin-bottom: 16px;
}

.backpack-title {
    font-size: 36px;
    font-weight: 600;
    margin: 24px;
}

/* footer styles */

.stay-touch {
    background-color: #FFF2F1;
    margin: 60px auto;
    text-align: center;
    padding: 146px 264px
}

.stay-touch-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.stay-touch-description {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    margin-top: 5px;
}

.stay-touch input {
    border: none;
    width: 500px;
    height: 53px;
    padding: 20px;
    font-size: 18px;
    border-radius: 20px 5px 20px 5px;
}

.stay-touch input:hover {
    color: rgb(63, 7, 248);
    background-color: aquamarine;
}

.stay-touch .btn-primary {
    border-radius: 20px 5px 20px 5px;
}

.stay-touch .btn-primary:hover {
    background: #3c3b3bbb;
}